---
import pickArrayItemFromString from "../utils/pickArrayItemFromString";

interface Props {
    id: string;
    href?: string;
    selected?: boolean;
}

const { id, href, selected } = Astro.props;

const bgColor = pickArrayItemFromString(id, [
    "bg-teal-300",
    "bt-cyan-300",
    "bg-emerald-200",
    "bg-sky-300",
    "bg-red-200",
    "bg-indigo-300",
    "bg-pink-300",
    "bg-rose-300",
    "bg-purple-300",
]);

const style = `
    inline-block 
    text-sm uppercase font-bold whitespace-nowrap
    py-px px-3 rounded-full
    ${bgColor} 
    ${selected ? "text-slate-900" : "text-slate-600"}
    ${href ? "hover:text-slate-900/80" : ""}
`;
---

{
    href ? (
        <a href={href} class={style}>
            {id}
        </a>
    ) : (
        <span class={style}>{id}</span>
    )
}
